<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samplesenti">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".presenter.KakaoPresenter"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.LoadingOrder"></activity>
        <activity android:name=".view.PiActivity"></activity>
        <activity android:name=".view.MinActivity" />
        <activity android:name=".view.OrderActivity"></activity>
        <activity android:name=".view.NoticeDetailActivity"></activity>
        <activity android:name=".view.MenuEditActivity" />
        <activity android:name=".view.MenuRegisterActivity" />
        <activity android:name=".view.HakDetailActivity" />
        <activity android:name=".view.HakActivity" />
        <activity android:name=".view.NoticeEditActivity" />
        <activity android:name=".view.NoticeRegisterActivity" />
        <activity android:name=".view.AdminMainActivity" />
        <activity android:name=".view.CompanyMainActivity" />
        <activity android:name=".view.submain" />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity
            android:name=".FindMyInfo"
            android:label="@string/title_activity_find_my_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="view.RegisterActivity" />
        <activity
            android:name=".view.MainMenuAct"
            android:label="@string/title_activity_main_menu" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MapActivity" />
        <activity android:name=".view.VersionActivity" />
        <activity android:name=".view.NoticeActivity" /> <!-- 카카오톡 메타데이터 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="6a568fe135c3b4bb984443f97227eda9" />
    </application>

</manifest>